<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    
		 
		<bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
			<property name="configLocation" value="classpath:ehcache.xml" />
		</bean>  
		  
		<bean id="userEhCache" class="org.springframework.cache.ehcache.EhCacheFactoryBean">  
		    <property name="cacheName" value="userCache" />
		    <property name="cacheManager" ref="cacheManager" />
		</bean>
		  
		<!-- 启用用户的缓存功能 -->  
		<bean id="userCache" class="org.springframework.security.core.userdetails.cache.EhCacheBasedUserCache">  
		    <property name="cache" ref="userEhCache" />
		</bean> 
</beans>